$brand-red: #FA4338;
$brand-orange: #f85532;
$brand-blue: #2b2e4f;
$brand-peach: #ffc497;
$brand-gray: #f4f2f0;
$brand-green: #3fa186;
$brand-cream: #ffecde;

$brand-peach-light: #ffecde;
$brand-peach-medium: #ffdec4;

$brand-orange-light: #fedbca;

$white: #FFF;
$black: #1A1A1A;

$grey-light: #f4f2f0;
$grey-medium: #9596a7;

$header-dark-bg: #0e1112;
$bodycolor: #575757;
$bodycolor-light: $brand-cream;
$bodycolor-dark: $black;