.highlights
  .container
    %h2.highlights__section-title
      =t 'views.welcome.index.highlights_title_html'

    %ul
      %li.highlights__element
        %span.highlights__icon
          %img{src: image_path("home/sl1.svg"), alt: ""}
        %h3.highlights__title
          =t 'views.welcome.index.highlights_1_title'
        .highlights__text
          %p
            =t 'views.welcome.index.highlights_1_text'
      %li.highlights__element
        %span.highlights__icon
          %img{src: image_path("home/sl2.svg"), alt: ""}
        %h3.highlights__title
          =t 'views.welcome.index.highlights_2_title'
        .highlights__text
          %p
            =t 'views.welcome.index.highlights_2_text'
      %li.highlights__element
        %span.highlights__icon
          %img{src: image_path("home/sl3.svg"), alt: ""}
        %h3.highlights__title
          =t 'views.welcome.index.highlights_3_title'
        .highlights__text
          %p
            =t 'views.welcome.index.highlights_3_text'
      %li.highlights__element
        %span.highlights__icon
          %img{src: image_path("home/sl4.svg"), alt: ""}
        %h3.highlights__title
          =t 'views.welcome.index.highlights_4_title'
        .highlights__text
          %p
            =t 'views.welcome.index.highlights_4_text'
      %li.highlights__element
        %span.highlights__icon
          %img{src: image_path("home/sl5.svg"), alt: ""}
        %h3.highlights__title
          =t 'views.welcome.index.highlights_5_title'
        .highlights__text
          %p
            =t 'views.welcome.index.highlights_5_text'
      %li.highlights__element
        %span.highlights__icon
          %img{src: image_path("home/sl6.svg"), alt: ""}
        %h3.highlights__title
          =t 'views.welcome.index.highlights_6_title'
        .highlights__text
          %p
            =t 'views.welcome.index.highlights_6_text'