.how-it-works
  %h2.how-it-works__section-title
    =t 'views.welcome.index.hiw_how_it_works'
  .how-it-works__inner
    .how-it-works__col-1
      .how-it-works__step.how-it-works__step--1
        .how-it-works__image-wrapper
          %span.how-it-works__number 1
          %img.how-it-works__image{src: image_path("home/cf1.svg"), alt: ""}
          %img.how-it-works__path.how-it-works__path--1{src: image_path("home/path1.svg"), alt: ""}
      .how-it-works__text-wrapper
        .how-it-works__text-1
          %h3.how-it-works__title
          =t 'views.welcome.index.hiw_register_views'
          %p
            =t 'views.welcome.index.hiw_register_views_text'

        .how-it-works__text-2
          %span.how-it-works__label
            =t 'views.welcome.index.hiw_soon_you_can'
          %h4.how-it-works__sub-title
            =t 'views.welcome.index.hiw_register_your_views_title'
          %p
            =t 'views.welcome.index.hiw_register_your_views_text'
        .how-it-works__text-3
          %h4.how-it-works__sub-title
            =t 'views.welcome.index.hiw_help_research_title'
          %p
            =t 'views.welcome.index.hiw_help_research_text'
    .how-it-works__col-2
      .how-it-works__step.how-it-works__step--2
        .how-it-works__image-wrapper
          %span.how-it-works__number 2
          %img.how-it-works__image{src: image_path("home/cf2.svg"), alt: ""}
          %img.how-it-works__path.how-it-works__path--2{src: image_path("home/path2.svg"), alt: ""}
          %img.how-it-works__path.how-it-works__path--3{src: image_path("home/path3.svg"), alt: ""}
        .how-it-works__content
          %h3.how-it-works__title
            =t 'views.welcome.index.hiw_share_community_title_html'
          %p
            =t 'views.welcome.index.hiw_share_community_text'
      .how-it-works__step.how-it-works__step--3
        .how-it-works__image-wrapper
          %span.how-it-works__number 3
          %img.how-it-works__image{src: image_path("home/cf3.svg"), alt: ""}
        .how-it-works__content
          %h3.how-it-works__title
            =t 'views.welcome.index.hiw_speak_about_your_views_title'
          %p
            =t 'views.welcome.index.hiw_speak_about_your_views_text'
