.sustainable-goals.container
  .sustainable-goals__col
    %h2.sustainable-goals__title
      =t 'views.welcome.index.sustainable_goals_title'
    %p
      =t 'views.welcome.index.sustainable_goals_text'

  .sustainable-goals__col
    .sustainable-goals__logo
      %img{src: image_path("home/sustainable.svg"), alt: ""}
    .sustainable-goals__highlight
      =t 'views.welcome.index.sustainable_goals_hightlight'
    %p
      =t 'views.welcome.index.sustainable_goals_development_text'
