@import "../variables";

/* Footer */
.footer {
  $self: &;

  font-family: $font-stack;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $white;

  &#{self} {
    font-size: $fs-xs;
  }

  &.bootstrap .container {
    @media (min-width: 1200px) {
      width: 1170px;
    }
  }

  p {
    font-family: inherit;
  }

  &#{$self} a {
    color: inherit;
  }


   &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $space-lg;
  }


  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    column-count: 2;

    p{
      break-inside: avoid-column;
      padding-right: $space-md;
    }
  }

  &__partners a {
    display: inline-block;
    margin-left: $space-lg;
  }

  &__social-media a{
    display: inline-block;
    margin-right: $space-lg;
  }

  &__legal a{
    display: inline-block;
    margin-left: $space-md;
  }

}
